.splitscreen {
  display:flex;
  margin-left:10%;
  margin-right:10%;
  background-color:white;
  margin-bottom:10%;
}

.splitscreen .left {
  padding-left:10%;
  width: 45%;
  flex:1;
}

.splitscreen .right {
  flex:1;
  padding-top:2%;
  padding-left: 10%;
}
