body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: 'Helvetica';
}

#middle {
    display:block; 
    margin-left:30%;
    margin-top: 2%;
    width: 40%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

p {
    word-break: normal;
}

img.rounded {
    object-fit: cover;
    border-radius: 10%;
}

.links {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

#line{
    margin: 4pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #919191;
    width: 100%;
}

